body {
  background-color: #FFF7F1;

}

.custom-container-color {
  background-color: #FFF7F1;
}

.custom-navbar-color {
  background-color: #92C7CF;
  color: white;
}

.custom-filter-color {
  background-color: #BED1CF;
}